.inner-container{
    gap: 1.5rem;
    background-color: wheat;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    
  }
  
  
  
  .inner-container .secondaryText{
    font-size: 1.4rem;
  }
  
  
  .inner-container .button{
    border: 2px solid white;
    background: blue;
    border-radius: 1.5rem;
  }
  